# Dependency directories
node_modules/

# coverage directories
coverage/

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
*.lnkconver

# VS Code
.vscode/*

variable.zip
test.txt